body {
  background-color: #0488D0;
}
nav {
  background-color: #B24242;
  color: white;
}


.button-class {
  background-color: #eaeaea;
  color: #2d2d2d;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: 2px solid #034c52;
  border-radius: 50px;
  cursor: pointer;
}

li.group-list-item {
display: inline-block;
margin: 5px;
flex-basis: 10%;
width: 25%;
}

ul.list-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  list-style: none;
  padding: 0;
  text-align: center;
  align-items: center;
}

.btn {
  display: inline-block;
  text-transform: capitalize;
  text-align: center;
  width: 250px;
}

.modal-title {
  text-transform: capitalize;
}

.modal-body {
  text-align: center;
}

.modal-header {
  text-align: center;
  justify-content: center;
  align-items: center;
}
